.DS_Store
./node_modules/*
/build
/.svelte-kit
/package
.env
TODO.txt
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/misc
TODO.txt
/backups
/src/routes/gallery/*
/src/routes/servicesNew/*
/src/components/RespNav.svelte.BAK
src/lib/FakeReviews.json
src/lib/img/gallery/test/*
*BAK*
workingText.txt
/src/components/services/GridCard.svelte