:root {
  /* Color Schema Variables */
  /* Orange Text */
  --ot: #f37022;
  --ob: #f37022;
  --bg: #231f20;
  --txt: #f9f9f9;
}

.orangeBorder {
  border: 1px solid var(--ob) !important;
  border-color: var(--ob);
}

.orangeUnderline {
  border-bottom: none;
}

.navbar-toggler {
  border: 1px solid var(--ot); 
  
}

.navbar-toggler::focus {
  border: 1px solid var(--ot);
}

.underline {
display: none;
}

.menuText {}



/*  MEDIA QUERIES */
  @media only screen and (max-width: 1024px) {
    .menuText {
      text-align: center;
    }
  }
@media only screen and (max-width: 992px) {
    /* Style adjustments for viewports that meet the condition */
    .orangeUnderline {
      border-bottom: 1px solid var(--ob);
    }

    .underline {
      display: block;
      background-color: var(--ob);
      color: var(--ot);
      height: 1px;
      width: 80%;
      margin: auto;
      opacity: 0.6;
    }

    #darkMode {
      width: 2em;
      margin: auto 0 auto auto;
    }

    
  }